{
    "plugins": [
        "react"
    ],
    "extends": [
        "airbnb",
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "import/no-extraneous-dependencies": [
            "error", {
               "devDependencies": true
            }
        ]
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "es2020": true
    }  
}