<!doctype html>
html(lang='en')
  head
    meta(charset="utf-8")
    link(rel='icon', href='/public/favicon.ico', type='image/icon')
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Lato:400")
  body
    #app
